<div class="bg-page min-vh-100 py-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-7 col-lg-8">
        <app-search-bar
          [errorMessage]="errorMessage"
          [loading]="loading"
          (search)="onSearch($event)"
        ></app-search-bar>

        @if (userFound) {
          <app-user-info [user]="userFound"></app-user-info>
        }

        @if (userFound) {
          <app-user-posts
            [postsWithComments]="postsWithComments"
          ></app-user-posts>
        }
      </div>
    </div>
  </div>
</div>
